@page "/addEmployee"
@inherits AddEmployeeBase

<div class="card-header text-center">
    <h1>Add Employee</h1>
</div>

@if (!ShowAddress)
{
    <EmployeeForm Employee="Employee" Departments="Departments" EnterAddress="InsertAddress"
                  CancelMethod="Cancel" UpsertButton="Enter Employee Address" CancelButton="Cancel" />

}

@if (ShowAddress)
{
    <AddressForm Address="Address" UpsertEmployee="CreateEmployee" CancelMethod="Cancel"
                 UpsertButton="Create" CancelButton="Cancel"/>

}