@page "/editStaff/{Id:int}"
@inherits EditStaffBase

<div class="card-header text-center">
    <h1>Edit Staff Details</h1>
</div>

@if (!ShowAddress)
{
    <StaffForm Staff="Staff" Departments="Departments" EnterAddress="InsertAddress"
                  CancelMethod="Cancel" UpsertButton="Edit Staff Address" CancelButton="Cancel" />

}

@if (ShowAddress)
{
    <AbodeForm AddressL="Address" UpsertEmployee="UpdateStaff" CancelMethod="Cancel"
                 UpsertButton="Save" CancelButton="Cancel" />

}